@import "tailwindcss";

@theme {
  --font-poppins: var(--font-poppins), sans-serif;
  --font-sans: var(--font-poppins), sans-serif;
}

body {
  max-width: 1600px;
  margin: 0 auto;
}

.container {
  margin-left: 50px;
  margin-right: 50px;
}

.slick-dots {
  bottom: 15px !important;
}

/* .slick-prev:before,
    .slick-next:before {
    color: black !important;
    font-size: 30px;
    }

    .slick-dots li button:before {
    color: black !important;
    font-size: 12px;
    } */

body::-webkit-scrollbar {
  display: none;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  background-color: white !important;
}

.swiper-pagination-bullet-active {
  background-color: black !important;
  color: black !important;
}